.container{
    background-color: rgb(216, 125, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;

}

.body{
    background-color: rgb(216, 125, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;

}